//
//  SampleSecrets.xcconfig
//  ExpenseTracker
//
//  Created by Pallab Maiti on 18/04/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

CLERK_PUBLISHABLE_KEY=<your-clerk-publishable-key>
